<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Top Restaurant</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Restaurant</title>
  </head>
  <body>
    {% include 'includes/header.html' %}
    <nav>
      <h1>Welcome, {{ user.get_full_name() }}, searched {{search_term or 'nothing'}} in {{city}} </h1>
    </nav>
    <main>
      <div class="card">
        <h1 class="restaurant-name">{{ restaurant.name}}</h1>
        <img class="restaurant-img" src={{restaurant.image_url}} />
        <p class="restaurant-location">Location: {{ restaurant.display_address }}</p>
        <p class="restaurant-price">Price: {{ restaurant.price }}</p>
        <p class="restaurant-rating">Rating: {{ restaurant.rating }}</p>
      </div>
    </main>
  </body>
</html>
